body {
    font-family: Helvetica; sans-serif;
    text-align: center;
    font-size: 14px;
 }

a:visited {
  color: darkblue;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

nav {
  font-size: 18px;
  color: white;
}

.backgroundImage {
  margin-top: 10px;
  background-image: url('../pictures/the-flatiron-building.png');
  background-repeat: no-repeat;
  color: white;
}

.bottomNav {
  background-color: dimgray;
  text-align: left;
}

.fineText {
  font-size:11px;
} 
